<th:block th:fragment="dayTimeTable(day, timeTables, full)">
    <div
        th:if="${not #lists.isEmpty(timeTables)}"
        class="flex flex-col justify-center align-center md:m-auto"
    >
        <h2
            class="text-xl font-bold text-center mb-6 mt-20 uppercase tracking-[0.5rem] text-primary-500"
            th:text="|${day}|"
        >
            Day
        </h2>
        <div class="overflow-scroll">
            <table class="w-full text-sm text-center dark:text-gray-400">
                <thead
                    class="text-s text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                    <tr class="bg-white hover:bg-gray-50">
                        <th
                            class="py-3 px-2 text-center min-w-[200px] md:max-w-[25px]"
                        >
                            Time
                        </th>
                        <th class="py-3 px-2 text-center min-w-[200px]">
                            Subject
                        </th>
                        <th class="py-3 px-2 text-center min-w-[200px]">
                            Teacher
                        </th>
                        <th class="py-3 px-2 text-center min-w-[200px]">
                            Room
                        </th>
                        <th
                            th:if="${full}=='false'"
                            class="py-3 px-2 text-center"
                            sec:authorize="hasRole('ADMIN')"
                        >
                            Edit
                        </th>
                        <th
                            th:if="${full}=='false'"
                            class="py-3 px-2 text-center max-w-[100px]"
                            sec:authorize="hasRole('ADMIN')"
                        >
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        class="bg-white hover:bg-gray-50"
                        th:each="timetable : ${timeTables}"
                        th:if="${timetable.getDay() == day}"
                    >
                        <td
                            class="py-3 px-2 text-center min-w-[200px] md:max-w-[25px]"
                            th:text="|${{timetable.startTime}} - ${{timetable.endTime}}|"
                            th:title="|${{timetable.startTime}} - ${{timetable.endTime}}|"
                        >
                            Time
                        </td>
                        <td
                            class="py-3 px-2 text-center min-w-[200px] text-ellipsis overflow-hidden"
                            th:text="|${timetable.course.name} (${timetable.course.section})|"
                            th:title="|${timetable.course.name} (${timetable.course.section})|"
                        >
                            Subject
                        </td>
                        <td
                            class="py-3 px-2 text-center min-w-[200px] text-ellipsis overflow-hidden"
                            th:text="|${timetable.teacher.name}|"
                            th:title="|${timetable.teacher.name}|"
                        >
                            Teacher
                        </td>
                        <td
                            class="py-3 px-2 text-center min-w-[200px] text-ellipsis overflow-hidden"
                            th:text="|${timetable.room.name}|"
                            th:title="|${timetable.room.name}|"
                        >
                            Room
                        </td>
                        <td
                            class="py-4 px-6 text-center"
                            th:if="${full}=='false'"
                            sec:authorize="hasRole('ADMIN')"
                        >
                            <form
                                th:action="@{/timetable/edit/{id}(id=${timetable.id})}"
                                th:method="get"
                            >
                                <button
                                    type="submit"
                                    class="bg-primary-500 hover:bg-primary-700 text-white font-bold py-1 px-2 rounded"
                                >
                                    Edit
                                </button>
                            </form>
                        </td>
                        <td
                            class="py-4 px-6 text-center max-w-[100px]"
                            th:if="${full}=='false'"
                            sec:authorize="hasRole('ADMIN')"
                        >
                            <form
                                th:action="@{/timetable/delete/{id}(id=${timetable.id})}"
                                th:method="delete"
                            >
                                <button
                                    type="submit"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                                >
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
    </div>
</th:block>
