<div
    th:fragment="displayCourses"
    class="overflow-x-auto my-10 relative shadow-md sm:rounded-lg"
>
    <div class="overflow-x-auto my-10 relative shadow-md sm:rounded-lg">
        <h1 class="text-2xl my-10">List of All Courses</h1>
        <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
                <tr class="bg-white hover:bg-gray-50">
                    <th scope="col" class="py-3 px-6 text-center">Code</th>
                    <th scope="col" class="py-3 px-6 text-center">
                        Course Name
                    </th>
                    <th scope="col" class="py-3 px-6 text-center">
                        Credit Hours
                    </th>
                    <th scope="col" class="py-3 px-6 text-center">Section</th>
                    <th scope="col" class="py-3 px-6 text-center">
                        Seats Left
                    </th>
                    <th
                        scope="col"
                        class="py-3 px-6 text-center"
                        sec:authorize="hasRole('ADMIN')"
                    >
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    th:each="course : ${courses}"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                    <td
                        th:text="${course.code}"
                        scope="row"
                        class="py-4 px-6 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    ></td>
                    <td
                        th:text="${course.name}"
                        class="py-4 px-6 text-center"
                    ></td>
                    <td
                        th:text="${course.creditHours}"
                        scope="row"
                        class="py-4 px-6 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    ></td>
                    <td
                        th:text="${course.section}"
                        class="py-4 px-6 text-center"
                    ></td>
                    <td
                        th:if="${course.seats}>0"
                        th:text="${course.seats}"
                        class="py-4 px-6 text-center"
                    ></td>
                    <td
                        th:unless="${course.seats}>0"
                        th:text="FULL"
                        class="py-4 px-6 text-center text-red-400 font-bold"
                    ></td>
                    <td
                        class="py-4 px-6 text-center"
                        sec:authorize="hasRole('ADMIN')"
                    >
                        <form
                            th:action="@{/courses/delete/{id}(id=${course.id})}"
                            th:method="delete"
                        >
                            <button
                                type="submit"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                            >
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
