<div th:fragment="displayRegistrations">
    <div class="overflow-x-auto my-10 relative shadow-md sm:rounded-lg">
        <h1 class="text-2xl my-10 font-bold">Current Registrations</h1>
        <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
            th:if="${not #lists.isEmpty(registrations)}"
        >
            <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
                <tr>
                    <th scope="col" class="py-3 px-6 text-center">Code</th>
                    <th scope="col" class="py-3 px-6 text-center">Course</th>
                    <th scope="col" class="py-3 px-6 text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    th:each="registration : ${registrations}"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                    <td
                        th:text="|${registration.getCourse().getCode()}|"
                        scope="row"
                        class="py-4 px-6 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    ></td>
                    <td
                        th:text="|${registration.getCourse().getName()} (${registration.getCourse().getSection()})|"
                        scope="row"
                        class="py-4 px-6 text-center font-medium text-gray-900 whitespace-nowrap dark:text-white"
                    ></td>
                    <td class="py-4 px-6 text-center">
                        <form
                            th:action="@{/delete/registration/{id}(id=${registration.id})}"
                            th:method="delete"
                        >
                            <button
                                type="submit"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                            >
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1
            th:unless="${not #lists.isEmpty(registrations)}"
            class="text-lg my-10 text-center font-mono"
        >
            You don't have any courses registered!
        </h1>
    </div>
</div>
