<th:block th:fragment="displayTimeTable(timeTables,title, full)">
    <div
        class="flex flex-col justify-center align-center m-auto"
        th:classappend="${full=='true'? 'w-3/4 md:w-11/12':'w-5/6 md:w-3/5'}"
    >
        <div th:if="${not #strings.isEmpty(title)}" class="my-5 sm:mt-10">
            <h1 class="text-3xl" th:text="|${title}|">Timetable</h1>
        </div>
        <div th:if="${not #lists.isEmpty(timeTables)}">
            <div
                th:include="fragments/day-timetable::dayTimeTable('Monday', ${timeTables}, ${full})"
            />
            <div
                th:include="fragments/day-timetable::dayTimeTable('Tuesday', ${timeTables}, ${full})"
            />
            <div
                th:include="fragments/day-timetable::dayTimeTable('Wednesday', ${timeTables}, ${full})"
            />
            <div
                th:include="fragments/day-timetable::dayTimeTable('Thursday', ${timeTables}, ${full})"
            />
            <div
                th:include="fragments/day-timetable::dayTimeTable('Friday', ${timeTables}, ${full})"
            />
            <div
                th:include="fragments/day-timetable::dayTimeTable('Saturday', ${timeTables}, ${full})"
            />
        </div>
        <h1
            th:unless="${not #lists.isEmpty(timeTables)}"
            class="text-lg my-10 text-center font-mono"
        >
            You don't have any courses registered!
        </h1>
    </div>
    <div
        th:if="${param.success}"
        class="flex fixed bottom-1 left-1 sm:bottom-8 sm:left-8 p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg"
        role="alert"
    >
        <svg
            aria-hidden="true"
            class="flex-shrink-0 w-5 h-5 mr-2 text-green-700 dark:text-green-800"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"
            ></path>
        </svg>
        <span class="font-medium">Operation Successful!</span>
    </div>
</th:block>
