<nav
    class="bg-gray-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900"
    th:fragment="navbar"
>
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a th:href="@{/}" class="flex items-center">
            <img
                th:src="@{/images/doubleTee.png}"
                class="mr-3 h-6"
                alt="doubleTee Logo"
                height="30"
            />
        </a>
        <button
            data-collapse-toggle="navbar-default"
            type="button"
            class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-default"
            aria-expanded="false"
        >
            <span class="sr-only">Open main menu</span>
            <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"
                ></path>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul
                class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
            >
                <li>
                    <a
                        th:href="@{/}"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'md:text-blue-700':''}"
                        class="block py-2 pr-4 pl-3 text-gray-700 bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-white"
                        aria-current="page"
                        >Home</a
                    >
                </li>

                <li>
                    <button
                        id="dropdownNavbarLink11"
                        data-dropdown-toggle="dropdownNavbar11"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/timetable') == true ? 'md:text-blue-700':''}"
                        class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                    >
                        TimeTable
                        <svg
                            class="ml-1 w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar11"
                        class="hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    >
                        <ul
                            class="py-1 text-sm text-gray-700 dark:text-gray-400"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    th:href="@{/timetable}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/timetable' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >University Timetable</a
                                >
                            </li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <a
                                    th:href="@{/timetable/add}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/timetable/add' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Allocate Timetable</a
                                >
                            </li>
                            <li
                                sec:authorize="hasRole('STUDENT') || hasRole('FACULTY')"
                            >
                                <a
                                    th:href="@{/my-timetable}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/my-timetable' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >My TimeTable</a
                                >
                            </li>
                            <li
                                sec:authorize="hasRole('ADMIN') || hasRole('FACULTY')"
                            >
                                <a
                                    th:href="@{/student/empty}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/student/empty' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Student Availability</a
                                >
                            </li>
                            <li
                                sec:authorize="hasRole('ADMIN') || hasRole('FACULTY')"
                            >
                                <a
                                    th:href="@{/timetable/download}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/timetable/download' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Download CSV</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button
                        id="dropdownNavbarLink1"
                        data-dropdown-toggle="dropdownNavbar1"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/courses') == true ? 'md:text-blue-700':''}"
                        class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                    >
                        Courses
                        <svg
                            class="ml-1 w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar1"
                        class="hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    >
                        <ul
                            class="py-1 text-sm text-gray-700 dark:text-gray-400"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    th:href="@{/courses}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/courses' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >View Courses</a
                                >
                            </li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <a
                                    th:href="@{/courses/add}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/courses/add' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Add Courses</a
                                >
                            </li>

                            <li sec:authorize="hasRole('STUDENT')">
                                <a
                                    th:href="@{/courses/register}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/courses/register' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Register Courses</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button
                        id="dropdownNavbarLink2"
                        data-dropdown-toggle="dropdownNavbar2"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/rooms') == true ? 'md:text-blue-700':''}"
                        class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                    >
                        Rooms
                        <svg
                            class="ml-1 w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar2"
                        class="hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    >
                        <ul
                            class="py-1 text-sm text-gray-700 dark:text-gray-400"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    th:href="@{/rooms}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/rooms' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >View Rooms</a
                                >
                            </li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <a
                                    th:href="@{/rooms/add}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/rooms/add' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Add Rooms</a
                                >
                            </li>
                            <li>
                                <a
                                    th:href="@{/room/empty}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/room/empty' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Rooms Availability</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button
                        id="dropdownNavbarLink3"
                        data-dropdown-toggle="dropdownNavbar3"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/teachers') == true ? 'md:text-blue-700':''}"
                        class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                    >
                        Teachers
                        <svg
                            class="ml-1 w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar3"
                        class="hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    >
                        <ul
                            class="py-1 text-sm text-gray-700 dark:text-gray-400"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    th:href="@{/teachers}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/teachers' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >View teachers</a
                                >
                            </li>
                            <li sec:authorize="hasRole('ADMIN')">
                                <a
                                    th:href="@{/teachers/add}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/teachers/add' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Add teachers</a
                                >
                            </li>
                            <li
                                sec:authorize="hasRole('ADMIN') || hasRole('FACULTY')"
                            >
                                <a
                                    th:href="@{/faculty/empty}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/faculty/empty' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Faculty Availability</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li sec:authorize="hasRole('ADMIN')">
                    <a
                        th:href="@{/admins}"
                        th:classappend="${#httpServletRequest.getRequestURI() == '/admins' ? 'md:text-blue-700':''}"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                        >Admins</a
                    >
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a
                        th:href="@{/logout}"
                        class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                        >Logout</a
                    >
                </li>
                <li sec:authorize="isAnonymous()">
                    <button
                        id="dropdownNavbarLink00"
                        data-dropdown-toggle="dropdownNavbar00"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/login/') == true ? 'md:text-blue-700':''}"
                        class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                    >
                        Login
                        <svg
                            class="ml-1 w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar00"
                        class="hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    >
                        <ul
                            class="py-1 text-sm text-gray-700 dark:text-gray-400"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    th:href="@{/login/student}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/login/student' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Student
                                </a>
                            </li>
                            <li>
                                <a
                                    th:href="@{/login/faculty}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/login/faculty' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Faculty</a
                                >
                            </li>
                            <li>
                                <a
                                    th:href="@{/login/admin}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/login/admin' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Admin</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>

                <li sec:authorize="isAnonymous()">
                    <button
                        id="dropdownNavbarLink0"
                        data-dropdown-toggle="dropdownNavbar0"
                        th:classappend="${#httpServletRequest.getRequestURI().contains('/register/') == true ? 'md:text-blue-700':''}"
                        class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
                    >
                        Register
                        <svg
                            class="ml-1 w-5 h-5"
                            aria-hidden="true"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                        id="dropdownNavbar0"
                        class="hidden z-10 w-44 font-normal bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600"
                    >
                        <ul
                            class="py-1 text-sm text-gray-700 dark:text-gray-400"
                            aria-labelledby="dropdownLargeButton"
                        >
                            <li>
                                <a
                                    th:href="@{/register/student}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/register/student' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Student
                                </a>
                            </li>
                            <li>
                                <a
                                    th:href="@{/register/faculty}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/register/faculty' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Faculty</a
                                >
                            </li>
                            <li>
                                <a
                                    th:href="@{/register/admin}"
                                    th:classappend="${#httpServletRequest.getRequestURI() == '/register/admin' ? 'md:text-blue-700':''}"
                                    class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                    >Admin</a
                                >
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
