<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header::head"></div>

        <title>Faculty Availability - doubleTee</title>
    </head>
    <body class="w-full">
        <div id="app" class="flex flex-col">
            <div class="content flex-1 min-h-[calc(100vh-45px)]">
                <nav th:replace="fragments/navbar::navbar"></nav>
                <div
                    class="flex flex-col justify-center align-center w-3/5 m-auto"
                >
                    <div class="my-10 sm:mt-10">
                        <h1 class="text-2xl font-bold">Faculty Availability</h1>
                    </div>

                    <div
                        th:if="${not #lists.isEmpty(slots)}"
                        class="flex flex-col justify-center align-center md:m-auto"
                    >
                        <div class="overflow-scroll">
                            <table
                                class="w-full text-sm text-center dark:text-gray-400"
                            >
                                <thead
                                    class="text-s text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                                >
                                    <tr class="bg-white hover:bg-gray-50">
                                        <th
                                            class="py-3 px-2 min-w-[200px] md:max-w-[25px]"
                                        >
                                            Teacher
                                        </th>
                                        <th class="py-3 px-2 min-w-[200px]">
                                            Start Time
                                        </th>
                                        <th class="py-3 px-2 min-w-[200px]">
                                            End Time
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        class="bg-white hover:bg-gray-50"
                                        th:each="slot : ${slots}"
                                    >
                                        <td
                                            class="py-3 px-2 min-w-[200px] md:max-w-[25px]"
                                            th:text="|${teacher.name}|"
                                        >
                                            Room
                                        </td>
                                        <td
                                            class="py-3 px-2 min-w-[200px]"
                                            th:text="|${{slot.startTime}}|"
                                        >
                                            Start Time
                                        </td>
                                        <td
                                            class="py-3 px-2 min-w-[200px]"
                                            th:text="|${{slot.endTime}}|"
                                        >
                                            End Time
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr />
                    </div>
                    <h1
                        th:unless="${not #lists.isEmpty(slots)}"
                        class="text-lg my-10 text-center"
                    >
                        No selected teacher!
                    </h1>
                    <div class="flex justify-center md:!mt-5">
                        <a
                            href="/teachers/empty"
                            class="group relative text-lg flex w-full sm:w-1/4 justify-center rounded-md border border-transparent bg-primary-500 py-2 px-4 font-medium text-white hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
                        >
                            Back
                        </a>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>
