<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header::head"></div>

        <title>Empty Rooms - doubleTee</title>
    </head>
    <body class="w-full">
        <div id="app" class="flex flex-col">
            <div class="content flex-1 min-h-[calc(100vh-45px)]">
                <nav th:replace="fragments/navbar::navbar"></nav>
                <div
                    class="flex flex-col justify-center align-center w-3/5 m-auto"
                >
                    <div class="my-10 sm:mt-10">
                        <h1 class="text-2xl font-bold">Empty Rooms</h1>
                    </div>

                    <div class="w-full space-y-8">
                        <form
                            class="mt-8 space-y-6"
                            method="POST"
                            role="form"
                            th:action="@{/room/empty/get}"
                            th:object="${emptyRoomDto}"
                        >
                            <div class="flex flex-wrap justify-evenly w-full">
                                <div
                                    class="w-full md:w-1/4 relative z-0 pb-6 group"
                                >
                                    <label for="day">Select day:</label>
                                    <select
                                        class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                                        th:field="*{day}"
                                        id="day"
                                        required
                                    >
                                        <option value="">Select Day</option>

                                        <option
                                            th:each="day : ${days}"
                                            th:value="${day.day}"
                                            th:text="${day.day}"
                                        ></option>
                                    </select>
                                </div>

                                <div
                                    class="w-full md:w-1/4 relative z-0 pb-6 group"
                                >
                                    <label for="room">Select room:</label>
                                    <select
                                        class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                                        th:field="*{roomId}"
                                        id="room"
                                        required
                                    >
                                        <option value="">Select Room</option>

                                        <option
                                            th:each="room : ${rooms}"
                                            th:value="${room.id}"
                                            th:text="${room.name}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="flex justify-center md:!mt-5">
                                <button
                                    type="submit"
                                    class="group relative text-lg flex w-full sm:w-1/4 justify-center rounded-md border border-transparent bg-primary-500 py-2 px-4 font-medium text-white hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
                                >
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
				
            </div>
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>
