<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header::head"></div>

        <title>Rooms - doubleTee</title>
    </head>
    <body class="w-full">
        <div id="app" class="flex flex-col">
            <div class="content flex-1 min-h-[calc(100vh-45px)]">
                <nav th:replace="fragments/navbar::navbar"></nav>
                <div
                    class="flex flex-col justify-center align-center w-4/5 md:w-2/5 m-auto"
                >
                    <div
                        th:include="fragments/display-rooms::displayRooms"
                        th:with="rooms=${rooms}"
                    ></div>
                </div>

                <h1
                    class="text-xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
                    th:text="${slots}"
                ></h1>
                <div
                        th:if="${param.notempty}"
                        class="flex fixed bottom-1 left-1 sm:bottom-8 sm:left-8 p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg"
                        role="alert"
                    >
                        <svg
                            aria-hidden="true"
                            class="flex-shrink-0 w-5 h-5 mr-2 text-red-700 dark:text-red-800"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                clip-rule="evenodd"
                            ></path>
                        </svg>
                        <span class="font-medium">Room not empty!</span>
                    </div>
            </div>
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>
