<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header::head"></div>

        <title>Student Availability - doubleTee</title>
    </head>
    <body class="w-full">
        <div id="app" class="flex flex-col">
            <div class="content flex-1 min-h-[calc(100vh-45px)]">
                <nav th:replace="fragments/navbar::navbar"></nav>
                <div
                    class="flex flex-col justify-center align-center w-3/5 m-auto"
                >
                    <div class="my-10 sm:mt-10">
                        <h1 class="text-2xl font-bold">Student Availability</h1>
                    </div>

                    <div class="w-full space-y-8">
                        <form
                            class="mt-8 space-y-6"
                            method="POST"
                            role="form"
                            th:action="@{/student/empty/get}"
                            th:object="${studentAvailDto}"
                        >
                            <div class="flex flex-wrap justify-evenly w-full">
                                <div
                                    class="w-full md:w-1/4 relative z-0 pb-6 group"
                                >
                                    <!-- <label for="day">Select day:</label> -->
                                    <select
                                        class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                                        th:field="*{day}"
                                        id="day"
                                        required
                                    >
                                        <option value="">Select Day</option>

                                        <option
                                            th:each="day : ${days}"
                                            th:value="${day.day}"
                                            th:text="${day.day}"
                                        ></option>
                                    </select>
                                </div>

                                <div
                                    class="w-full md:w-1/4 relative z-0 pb-6 group"
                                >
                                   <input
                                        id="rollNo"
                                        name="rollNo"
                                        type="text"
                                        th:field="*{rollNumber}"
                                        required
                                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                                        placeholder=" "
                                    />
                                    <label
                                        for="rollNo"
                                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                        >Roll Number</label
                                    >
                                </div>
                            </div>
                            <div class="flex justify-center md:!mt-5">
                                <button
                                    type="submit"
                                    class="group relative text-lg flex w-full sm:w-1/4 justify-center rounded-md border border-transparent bg-primary-500 py-2 px-4 font-medium text-white hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2"
                                >
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
				
            </div>
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>
