<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header::head"></div>

        <title th:text="|${title} - doubleTee|">View Timetable - doubleTee</title>
    </head>
    <body class="w-full">
        <div id="app" class="flex flex-col">
            <div class="content flex-1 min-h-[calc(100vh-45px)]">
                <nav th:replace="fragments/navbar::navbar"></nav>
                <div th:include="fragments/display-timetable::displayTimeTable(${timeTables},${title},'false')"></div>
            </div>
            <div class="h-20"></div>
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>
